body {
	color: black;
    min-width:1000px;
}

/* Header */
#header {
}

#center {
	padding: 20px;
	display: inline-block;
	width: 100%;
	text-align:left;
}

#center #map-buttons {
    width: 500px;
    margin: 0 auto;
    
}
#center #map {
	border: 3px solid white; 
	width:80%;
	height:350px;
	margin: 0 auto;
}

/* Search */
#tags {
    margin-left:10%;
	font-size: 15px;
}

#search input[type="text"]{
    margin: 0 auto;
	width: 220px;
    height:30px;
}

#searchTag {
	width: 110px;
    height:30px;
    margin: 0 auto;
}

.btn {
  color: #000000;
  background: #b4c4cf;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #b1bcc2;
  text-decoration: none;
}