<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		
		{% load staticfiles %}

		<script type="text/javascript" src="{% static "GMaps.js" %}"></script>
		<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="screen" />
		<title>Citron</title>
	</head>
	<body>
		<h1>City of Austin Sentiment Analysis Development</h1>
		<div id="wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
					
				</div>
				<div id="banner">
					<div id="map-buttons">
						<input id="clearMarkers" class="btn" onclick="clearMarkers();" type=button value="Hide Markers">
						<input id="showMarkers" class="btn" onclick="showMarkers();" type=button value="Show All Markers">
						<input id="deleteMarkers" class="btn" onclick="deleteMarkers();" type=button value="Delete Markers">
						<input id="highlight" class="btn" onclick="highlight();" type=button value="Highlight Austin">
					</div>
					<div id="map"></div>
					<div id="tags">
						<form id="search">
							<input id="searchTag" class="btn" onclick="searchTag();" type=button value="Search for Tag">
							<input id="textarea" type="text" placeholder="Enter a tag" name="tag">
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<noscript> &lt;div id="no-script"&gt; &lt;div class="no-script-message"&gt; &lt;div&gt; When you have eliminated the &lt;strong&gt;JavaScript&lt;/strong&gt;, whatever remains must be an empty page. &lt;/div&gt; &lt;a class="no-script-help-link" href="//support.google.com/maps/?hl=en&amp;amp;authuser=0&amp;amp;p=no_javascript" target="_blank"&gt; Enable JavaScript to see Google Maps. &lt;/a&gt; &lt;/div&gt; &lt;/div&gt; </noscript>
</html>