<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  {% load staticfiles %}
  <link href="{% static "base.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% static "Sentiment_Data.css" %}" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<title>Summary of Comments</title>
</head>
<body>
  <header id="header">
	<h1>Summary of Comments</h1>
  </header>
  <div id="container">
	<main id="center" class="column">
	  <div id="barchart_values"></div>
	  <div id="chart_div"></div>
	</main>
	<nav id="left" class="column">
	  {% include "left_nav.html" %}
	</nav>
	<nav id="right" class="column"></nav>
  </div>
  <footer id="footer">
	{% include "footer.html" %}
  </footer>
</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
	var DELAY = 1400;
    var something = [];
    var countPos = 0;
    var countNeg = 0;
    var countNul = 0;
	
    $.ajax({
      type:"GET",
      url:"/postsJsonObject/",
      context: document.body,
      dataType:"json",
    }).done(function(data) {
      for (var key in data) {
        if (data.hasOwnProperty(key)) {
          innerData = data[key];
          var fields = innerData["fields"];
          var post = {
            sentiment:fields["sentiment"],
            value:fields["value"],
            statement:fields["statement"]
          };
          something.push(post);
        }
      }
      for(var x=0; x < something.length; x++)
        if(something[x].sentiment == "POS")
          countPos++;
        else if(something[x].sentiment == "NEG")
          countNeg++;
        else
          countNul++;
    });
  </script>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">               <!-- scripts to form tree chart -->
	
    google.load("visualization", "1", {packages:["treemap"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
	setTimeout(function() {
      var data = google.visualization.arrayToDataTable([
        ['Category', 'Parent', 'Degree of Sentiment', 'Type'],
        ['Posts', null, 0, 0],
        ['Positive', 'Posts', 0, 0],
        ['Negative', 'Posts', 0, 0],
        ['Unknown',  'Posts', 0, 0]
      ]);

      var row;
      for(var i=0; i<something.length; i++)
      { row = something[i];
        if(row.sentiment == "POS")
          data.addRow([i+": "+row.statement, 'Positive', 1, row.value*1]);
        else if(row.sentiment == "NEG")
          data.addRow([i+": "+row.statement, 'Negative', 1, row.value*-1]);
        else
          data.addRow([i+": "+row.statement, 'Unknown',  1, 0]);
      }

      tree = new google.visualization.TreeMap(document.getElementById('chart_div'));

      function selectHandler(){
          var selection = tree.getSelection()[0];
          var message = data.getValue(selection.row, 0);
          if(message != "Unknown" && message != "Positive" && message != "Negative")
            alert(message + "\n" + data.getValue(selection.row, 1) + "\n" + data.getValue(selection.row, 3));
      }
      google.visualization.events.addListener(tree, 'select', selectHandler);

      tree.draw(data, {
        minColor: 'red',
        midColor: 'gray',
        maxColor: 'green',
        headerHeight: 20,
        headerColor: 'black',
        fontColor: 'white',
        fontSize: 16,
        bold: true,
        showTooltips: false
      });
	  }, DELAY);
    }
  </script>
  <script type="text/javascript">                 <!--script to form bar graph-->
	
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
	setTimeout(function() {
      var data = google.visualization.arrayToDataTable([
        ["Sentiment", "Number", { role: "style" } ],
        ["Positive", countPos, 'green'],
        ["Negative", countNeg, "red"],
        ["Unknown",  countNul, "gray"]
        ]);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
       { calc: "stringify",
       sourceColumn: 1,
       type: "string",
       role: "annotation" },
       2]);
      var options = {
        title: "Sentiment Distrubition",
        animation:{
          "startup": true,
          duration: 1000,
          easing: 'in',
        },
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
	  }, DELAY);
    }
  </script>
<noscript> &lt;div id="no-script"&gt; &lt;div class="no-script-message"&gt; &lt;div&gt; When you have eliminated the &lt;strong&gt;JavaScript&lt;/strong&gt;, whatever remains must be an empty page. &lt;/div&gt; &lt;a class="no-script-help-link" href="//support.google.com/maps/?hl=en&amp;amp;authuser=0&amp;amp;p=no_javascript" target="_blank"&gt; Enable JavaScript to see Google Maps. &lt;/a&gt; &lt;/div&gt; &lt;/div&gt; </noscript>
</html>