<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		{% load staticfiles %}
        <link href="{% static "base.css" %}" rel="stylesheet" type="text/css" media="screen" />
		<link href="{% static "Sentiment_Data.css" %}" rel="stylesheet" type="text/css" media="screen" />
		<title>Sentiment Data Citron</title>
	</head>
	<body>
       <div id="wrapper">
            <header id="header">
                <h1>Sentiment Data</h1>
            </header>
            <div id="container">
                <main id="center" class="column">
                    Placeholder
                </main>
                <nav id="left" class="column"></nav>
                <nav id="right" class="column"></nav>
            </div>
            <div id="footer-wrapper">
                <footer id="footer"></footer>
            </div>
        </div>
	</body>
	<noscript> &lt;div id="no-script"&gt; &lt;div class="no-script-message"&gt; &lt;div&gt; When you have eliminated the &lt;strong&gt;JavaScript&lt;/strong&gt;, whatever remains must be an empty page. &lt;/div&gt; &lt;a class="no-script-help-link" href="//support.google.com/maps/?hl=en&amp;amp;authuser=0&amp;amp;p=no_javascript" target="_blank"&gt; Enable JavaScript to see Google Maps. &lt;/a&gt; &lt;/div&gt; &lt;/div&gt; </noscript>
</html>